@import url("https://fonts.googleapis.com/css?family=Cute+Font|Lobster");
@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Amiri");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#first {
    padding-top: 14%;
    margin-bottom: 9%;
}
#hed {
    background-image: url('../assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h6 {
    height: 1vh;
}
#about {
    margin-top: 50px;
    margin-bottom: 50px;
}
.resize {
    font-size: cal(1vh + 1vw + .5vmin);
}
#about,
#service,
#pple,
.specific,
#contact,
.footer p {
    font-family: 'Amiri', cursive;
}
.col-md-12 {
    width: 100%;
    color: #fff;
    font-family: 'Righteous', cursive;
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: 1.1em;
}
h1 {
    font-family: 'Righteous', cursive;
}
#service {
    background-image: url('../assets/backgrounds/s_image.jpg');
    color: #fff;
    margin-bottom: 50px;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
.card-deck {
    padding: 1% 4%;
}
.specific {
    margin-bottom: 4%;
}
.image1 {
    padding-top: 9%;
    margin-bottom: 3%;
}
.image2 {
    margin-top: 20%;
    padding: 35px 0;
}
.sermain {
    margin-top: 15%;
}
.hide {
    display: none;
}
.form-cont input {
    width: 49%;
    background: transparent;
}
.form-cont textarea {
    margin-top: 10px;
    width: 100%;
    background: transparent;
}
#contact {
    padding-top: 100px;
    margin-bottom: 50px;
    background-image: url('../assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
}
.footer {
    margin-top: 30px;
}
.form-cont {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}
::placeholder,
.con {
    color: #fff;
}
::placeholder{
    font-size: 10px;
}
.con {
    padding-bottom: 30px;
}
.what {
    margin-bottom: 30px;
}
#meso {
    background-color: transparent;
}
.social img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}
.social img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: -3px;
    padding: 3px;
    background: yellowgreen;
}
#portfolio img {
    width: 100%;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.card-1 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
}
.ptag {
    padding: 5% 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-weight: 100%;
    padding-top: 30px;
    border: 4px solid whitesmoke;
    font-size: 1.1em;
    line-height: 90%;
    margin: 20% 5%;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
}
@media screen and (max-width:450px) {
    .form-cont input {
        width: 100%;
        margin-top: 10px;
    } 
    body{
        overflow-x: hidden;
    }
}
@media screen and (max-width:1024px) {
    * {
        font-size: calc(1vw + 1vh + .5vmin);
    }
}
